{{ define "main" }}
  <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
    {{ .Content }}
  </div>

  <div class="contact-form">
    <h2>Get in Touch</h2>
    <form action="https://formspree.io/f/mykydrrk" method="POST">
      <label>
        Your email:
        <input type="email" name="email" required>
      </label>
      <label>
        Your message:
        <textarea name="message" rows="5" required></textarea>
      </label>
      <button type="submit">Send</button>
    </form>
  </div>
{{ end }}
